<%h1 All Sellers %>

<% @sellers.each do |seller|%>
    <%= seller.name %>
<% end %>

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>
  <body> 
    <div id="title">
      Book Exchange
    </div>
    <div id="sub-title">
      Buy or Sell your textbooks to other students!
    </div>
    <table>
      <tr>
        <th>Book Name</th>
        <th>Class</th> 
        <th>Sellor</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
      <tr>
        <td><a href="../books/books.html.erb">Calculus I</a></td>
        <td>Math 1A</td> 
        <td>Adam S.</td>
        <td>$50</td>
      </tr>
    </table>
  </body>
</html>

