<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="books.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>
  <body> 
    <div id="title">
      Book Page
    </div>
    <div id="outer">
      <div id="left">
        <img src="book.jpg">
      </div>
      <div id="right">
        <div class="content">
           Book Title: Calculus I
        </div>
        <div class="content">
           Class: Math 1A
        </div>
        <div class="content">
           Seller: Adam S.
        </div>
        <div class="content">
           Price: $50
        </div>
        <div class="content">
           Contact Information: adam@gmail.com
        </div>
      </div>
    </div>
  </body>
</html>
